body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;
    background-color: #0d326d;
}

/* Auth */

.auth {
    width: 260px;
    background-color: #fff;
    padding: 20px;
    margin:  20px auto;
}

.auth-title {
    font-size: 20px;
    color: #c61919;
    text-align: center;
    margin: 0 0 15px;
}

/* Input */

.form-group {
    margin-bottom: 15px;
}

.input {
    display: block;
    padding: 8px 10px;
    width: 238px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 15px;
}

.input:focus {
    outline: none;
    border-color: #28cbd1;
}

/* Select */

.select {
    display: block;
    padding: 8px 10px;
    height: 35px;
    width: 260px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 15px;
    background-color: #fff;
}

.select:focus {
    outline: 0;
    border-color: #28cbd1;
}

/* Button */

.btn {
    display: block;
    font-family: inherit;
    font-size: 15px;
    width: 260px;
    border: 0;
    background-color: #4bb91b;
    padding: 10px;
    color: #fff;
}

.btn:focus {
    outline: 0;
}

.btn:hover,
.btn:focus {
    background-color: #41aa14;
    cursor: pointer;
}

.btn:active {
    background-color: #36980d;
}



