body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;
    background: url("img/bg.png");
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.page {
    width: 1000px;
    margin: 20px auto;
    background-color: #fff;
}

.container {
    display: flex;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Header */

.header {
    padding: 20px;
    background-color: #121212;
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subtitle {
    margin: 0;
    font-size: 16px;
    color: #56b6fb;
    text-align: center;
    font-weight: 400;
}

/* Nav */

.nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-link {
    padding: 8px 12px;
    text-decoration: none;
    color: #121212;
    transition: background-color 0.2s linear;
}

.nav-link:hover {
    background-color: #eee; 
}

/* Content */

.intro-img {
    border-radius: 10px;
    box-shadow: 0 3px 5px #a7a7a7;
    background-color: #eee;
    opacity: 0.8;
    transition: opacity 0.2s linear;
}

.intro-img:hover {
    opacity: 1;
}

.content {
    width: 800px;
    padding: 0 20px;
}

.content-title {
    margin: 0 0 15px;
    font-size: 24px;
    color: #ce2929;
}

.content-text {
    margin-bottom: 20px;
}

.read-more {
    color: #1d7abe;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

/* Sidebar */

.sidebar {
    width: 200px;
    padding: 10px;
    background-color:  #eee;
}

.sidebar-title {
    margin-bottom: 20px;
    font-size: 16px;
    color: #e02525;
}

.sidebar-img {
    background: linear-gradient (to bottom, #eee, #fff);
}

.sidebar-text {
    font-size: 12px;
}

/* Article */

.article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.article-title {
    margin: 0 0 5px;
    font-size: 18px;
    color: #0d448e;
}

.article-title a {
    color: inherit;
    text-decoration: none;
}

.article-title a:hover {
    text-decoration: underline;
}

.article-date {
    display: block;
    font-size: 12px;
    color: #a4a4a4;
}

/* Footer */

.footer {
    padding: 20px;
    background-color: #d80909;
    color: #fff;
    text-align: center;
    font-size: 32px;
}